@media (max-width: 1150px) {

    /* HEADER */

    header {
        border: none;
    }

    .nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .nav-list {
        display: none;
        list-style-type: none;
        flex-direction: column;
    }

    .nav-list li {
        margin-bottom: 10px;
    }

    .nav-list.nav-list-active {
        display: flex;
        animation: slideDown 0.2s ease-out;
    }

    @keyframes slideDown {
        from {
            transform: translateY(-20px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    #burger-menu {
        display: block;
        height: 50px;
        max-height: 50px;
        max-width: 50px;
        margin-top: 10px;
    }

    /* MAIN */

    main {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .left-aside, 
    .right-aside {
        width: 100%;
        text-align: center;
    }

    .right-aside img {
        max-width: 100%;
        height: auto;
    }

    .left-aside p {
        padding: 0 15px;
        font-size: 16px;
        word-break: break-word;
    }

    /* FOOTER */

    .nav-list-footer li:first-child {
        margin-left: 0;
    }
}


@media (max-width: 650px) {

    /* CONTAINER */

    .container {
        width: 100%;
        box-sizing: border-box;
        border-radius: 0;
    }

    /* MAIN */

    .left-aside {
        width: 100%;
        text-align: center;
    }

    .left-aside p {
        font-size: 16px;
        padding: 0 10px;
    }

    /* FOOTER */

    footer {
        width: 100%;
    }

    .nav-list-footer {
        width: 100%;
    }

    .nav-list-footer li {
        margin-left: 5px;
    }
}